*{
    div{
        
    }
}
.main{
    max-width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: lightgray;
}
.top{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.t1{
    flex: 1;
    display: flex;
    align-items: center;
}
.left{
    height: 30px;
    width: 30px;
    background-color: grey;
}
.t2{
    flex: 5;
    display: flex;
    align-items: center;  
    font-size: larger;  
    padding-right: 100px;
}
.middle{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.m1{
    
    display: flex;
    margin: 50px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 241, 127);
    color: white;
}
.m2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m11{
    flex: 1;
    font-size: large;
}
.m12{
    flex: 1;
}
.bottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 10px;
    gap: 10px;
    border: none;
}
.b1{
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: none;
}
.user{
    height: 30px;
}
.b2{
    flex: 1;
    display: flex;
    justify-content: end;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 208, 208);
    border: none;
    border-radius: 30px;
}
.door{
    height: 30px;
}
