*{
    div{
       
    }
}
.main{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}
.t1{
    flex: 1;
    border: none;
    background: linear-gradient(red,yellow);
    background-clip: text;
    color: transparent;
}
.t2{
    flex: 1;
    border: none;
}
.x{
    height: 15px;
    width: 15px;
}
.middle{
    flex: 9;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
}
.m1{
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
}
.ml1{
    flex: 1;
    height: 50px;
    border: none;
}
.dot{
    height: 15px;
}
.mr1{
    flex: 7;
    border: none;
    padding-right: 100px;
}
.m2{
    flex: 1;
    border: none;
}
.text1{
    height: 25px;
    width: 340px;
}
.m3{
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
}
.ml2{
    flex: 1;
    height: 50px;
    border: none;
}
.mr2{
    flex: 7;
    border: none;
    padding-right: 100px;
}
.m4{
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
}
.a1{
    height: 15px;
    width: 20px;
    display: flex;
    justify-content: end;
    align-items: start;
}
.text2{
   height: 25px;
    width: 340px;
}
.txt{
    
}
.m5{
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
}
.ml3{
    flex: 1;
    height: 50px;
    border: none;
}
.mr3{
    flex: 7;
    border: none;
    padding-right: 100px;
}
.m6{
    flex: 1;
    border: none;
}
.text3{
    height: 25px;
    width: 340px;
}
.cal{
    width:20px;
    padding-left: 300px;
    position: relative;
    bottom: 25px;
}
.m7{
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
}
.ml4{
    flex: 1;
    height: 50px;
    border: none;
}
.mr4{
    flex: 7;
    border: none;
    padding-right: 100px;
}
.m8{
    flex: 1;
    border: none;
}
.text4{
    height: 25px;
    width: 340px;
}
.m9{
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
}
.ml5{
    flex: 1;
    height: 50px;
    border: none;
}
.mr5{
    flex: 7;
    border: none;
    padding-right: 100px;
}
.m10{
    flex: 1;
    border: none;
}
.text5{
    height: 25px;
    width: 340px;
}
.m11{
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
}
.ml6{
    flex: 1;
    height: 50px;
    border: none;
}
.mr6{
    flex: 7;
    border: none;
    padding-right: 100px;
}
.m12{
    flex: 1;
    border: none;
}
.text6{
    height: 75px;
    width: 340px;
}
.bottom{
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
    width: 90%;
}
.b1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: linear-gradient(to right,red,orange);
    color: white;
    border: none;
}
.b2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: blue;
    background-color: lightgray;
    border-color: lightskyblue;
}