*{
    div{
        border: 2px solid black;
        font-family: sans-serif;
    }
}
.main{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.t-l{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}
.t1{
    flex: 1;
    border: none;
    padding: 10px;
}
.t2{
    flex: 1;
    border: none;
    padding: 10px;
}
.t-r{
    flex: 1;
    display: flex;
    border: none;
}
.user{
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 150px;
    margin-top: 50px;
}
    
.middle{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    margin-right: 50px;
    border: none;
    flex-wrap: wrap;
}
.a1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50pc;
    height: 20px;
}
.a2{
    flex: 1;
    display: flex;
    background-color: red;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 20px;
}
.a3{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 20px;
}
.bottom{
    flex: 10;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: none;
    flex-wrap: wrap;
}
.b-t{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: lightgrey;
}
.bh{
    flex: 1;
    display: flex;
    background: linear-gradient(red,yellow);
    background-clip: text;
    color: transparent;
    border: none;
}
.bh1{
    height: 2px;
    width: 50px;
    background: linear-gradient(to right,red,yellow);
    margin-top: 40px;
    border: none;
    display: flex;
}
.b-b{
    flex: 8;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: none;
    background: linear-gradient(to right,white,lightpink);
}
.b-l{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}
.l1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    border: none;
}
.b1{
    flex: 1;
    border: none;
}
.anathan{
    height: 107%;
    max-width: 100%;
    border-radius: 20px;
}

.b11{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
}
.bb1{
    flex: 1;
    border: none;
    padding-top: 30px;
}
.bb2{
    height: 2px;
    width: 50px;
    background: linear-gradient(to right,red,yellow);
    border: none;
}
.bb3{
    flex: 1;
    border: none;
}
.bb4{
    flex: 1;
    border: none;
}
.l2{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: white;
    border: none;
}
.b2{
    flex: 1;
    border: none;
}
.a1920{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.b22{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
}
.bb5{
    flex: 1;
    border: none;
}
.bb6{
    height: 2px;
    width: 50px;
    background: linear-gradient(to right,red,yellow);
    border: none;
}
.bb7{
    flex: 1;
    border: none;
}
.bb8{
    flex: 1;
    border: none;
}
.james{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.b-r{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}
.r1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: white;
    border: none;
}
.b4{
    flex: 1;
    border: none
}
.b44{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
}
.bb9{
    flex: 1;
    border: none;
}
.bb10{
    height: 2px;
    width: 50px;
    background: linear-gradient(to right,red,yellow);
    border: none;
}
.bb11{
    flex: 1;
    border: none;
}
.bb12{
    flex: 1;
    border: none;
}
.r2{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
}
.b5{
    flex: 1;
    border: none;
}
.ong{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.b55{
   flex: 1;
    display: flex;
    flex-direction: row;
    border:  none;
    padding: 10px;
}
.cl{
    flex: 2;
    display: flex;
    flex-direction: column;
    border: none;
}
.bb13{
    flex: 1;
    border: none;
}
.bb14{
    height: 2px;
    width: 50px;
    background: linear-gradient(to right,red,yellow);
    border: none;
}
.bb15{
    flex: 1;
    border: none;
}
.bb16{
    flex: 1;
    border: none;
}
.cr{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 50px;
    border: none;
}
.btn{
    background: linear-gradient(to right,red,yellow);
    height: 50px;
    width: 50px;
    color: white;
    position: fixed;
    bottom: 40px;
    right: 30px;
    border-radius: 10px;
    border: none;
}
.b66{
    flex: 1;
    display: flex;
    flex-direction: row;
}


