*{ 
     padding: 0;
    margin: 0;
    div{     
    }
}
.main{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
}
.top{
    flex: 2;
    display: flex;
    flex-direction: column;
    border: none;
}
.t1{
    flex: 1;
    border: none;
}
.kantara{
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    border: none;    
}
.left{
    flex: 1;
    display: flex;
    background-color: grey;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 10px;
}
.ll1{
    height: 20px;
    width: 30px;
}
.t2{
    flex: 1;
    position: absolute;
    color: white;
    top: 450px;
    left: 30px;
    border: none;
    font-size:20px;
}
.t3{
    flex: 1;
    position: absolute;
    color: white;
    top: 490px;
    left: 30px;
    border: none;
    font-size: 16px;
}
.middle{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    padding:10px;
}
.m-t{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 4px;
    gap: 5px;
    border: none;
    padding-right: 90px;
    
}
.m1{
    flex: 1;
    display: flex;
    border-radius: 30px;
    color: yellow;
    background: linear-gradient(to right,rgb(72,0,255),rgb(169,21,171));
    align-items: center;
    justify-content: center;
    max-width: 50px;
}
.star{
    height: 20px;
    width: 20px;
    display: flex;
}
.m2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to right,rgb(72,0,255),rgb(169,21,171));
    color: white;
    max-width: 90px;
}
.m3{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to right,rgb(72,0,255),rgb(169,21,171));
    color: white;
    max-width: 70px;
}
.m4{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to right,rgb(72,0,255),rgb(169,21,171));
    color: white;
    max-width: 35px;
}
.m-b{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}
.m5{
    flex: 1;
    border: none;
}
.m6{
    flex: 1;
    font-size: 15px;
    border: none;
    padding: 10px;
}
.bottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
}
.b-t{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}
.bt1{
    flex: 1;
    border: none;
}

.b-b{
    flex: 3;
    display: flex;
    flex-direction: row;
    border: none;
}
.bl{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: none;
    gap: 10px;
    font-size: 14px;
}
.bb1{
    flex: 1;
    padding: 10px;
    background-color: lightgray;
}
.bb11{
    flex: 1;
    padding: 10px;
}
.bb12{
    flex: 1;
    padding: 10px;
}
.bb2{
    flex: 1;
    padding: 10px;
    background-color: lightgray;
}
.bb21{
    flex: 1;
    padding: 10px;
}
.bb22{
    flex: 1;
    padding: 10px;
}
.br{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: none;
    gap: 10px;
    font-size: 14px;
}
.bb3{
    flex: 1;
    padding: 10px;
    background-color: lightgray;
}
.bb31{
    flex: 1;
    padding: 10px;
}
.bb32{
    flex: 1;
    padding: 10px;
}
.bb4{
    flex: 1;
    padding: 10px;
    background-color: lightgray;
}
.bb41{
    flex: 1;
    padding: 10px;
}
.bb42{
    flex: 1;
    padding: 10px;
}
.footer{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
}
.f1{
    flex: 1;
    border: none;
}
.f2{
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 14px;
}
.f3{
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 14px;
}